<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Back (not turbo)", messages_path%>

    <% unless message.id.nil? %>
        <%= button_to "cancel(turbo)", "/messages/#{message.id}/cancel", method: :post, remote: true %>
        <%= button_to "cancel(turbo-use format)", cancel_message_path(message, format: :turbo_stream), method: :post, remote: true %>

    <% end %>
    <%# @message_object.body %>
    <%#= link_to "cancel(turbo)", cancel_message_path(message), method: :post, remote: true %>

    
  </div>
<% end %>

<%# button_to  "cancel(turbo)", cancel_message_path(@message) , method: :post ,remote: true%>

