<!DOCTYPE html>
<html>
  <head>
    <title>TurboProject</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# 전체페이지가 리프레쉬되면 시간도 바뀔 것 %>
    <%= Time.zone.now %> 
    <%= yield %>
  </body>
</html>
